<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong><em>My Speciality</em></strong>
        </div>
        <div class="card-body">
          <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="select3">Select Speciality</label>
              <div class="col-md-9">
                <select id="select3" [(ngModel)]="speciality" name="select3" class="form-control form-control-sm">
                  <option value="Anxiety">Anxiety</option>
                  <option value="Depression">Depression</option>
                  <option value="Stress">Stress</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button type="submit" (click)="addSpeciality()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Add Speciality</button>
          <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button>
        </div>
      </div>
    </div>

</div>