<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <strong><em>Add My Details</em></strong>
      </div>
      <div class="card-body">
        <form name="form" role="form" (ngSubmit)="addDetails()" [formGroup]="addDetailsForm" enctype="multipart/form-data" class="form-horizontal">
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input" >BloodGroup</label>
            <div class="col-md-9">
              <input type="text" id="text-input" formControlName="bloodgroup" name="text-input" class="form-control" placeholder="BloodGroup">
            </div>
          </div>
          <!-- <div *ngIf="addDetailsForm.get('bloodGroup')!.invalid && (addDetailsForm.get('bloodGroup')!.dirty || addDetailsForm.get('bloodGroup')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="loginForm.get('bloodGroup')?.errors?.required"
            >
              This field is required.
            </small>
          </div> -->
          <div class="form-group row">
            <label class="col-md-3 col-form-label" for="text-input">Gender</label>
            <div class="col-md-9">
              <select id="select1" name="select1" class="form-control" formControlName="gender">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>
          <!-- <div *ngIf="addDetailsForm.get('gender')!.invalid && (addDetailsForm.get('gender')!.dirty || addDetailsForm.get('gender')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="loginForm.get('gender')?.errors?.required"
            >
              This field is required.
            </small>
          </div> -->
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary"><i
                class="fa fa-dot-circle-o"></i>Add Details</button>
            <!-- <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button> -->
          </div>
        </form>
      </div>
      
    </div>
  </div>

</div>