<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form name="form" role="form" (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="!isSuccessful">
                <h1>Register</h1>
                <p class="text-muted">Create your account</p>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="firstname" placeholder="Firstname"
                    autocomplete="firstname" required>
                </div>
                <div *ngIf="form.get('firstname')!.invalid && (form.get('firstname')!.dirty || form.get('firstname')!.touched)">
                  <small
                    class="form-text text-danger"
                    *ngIf="form.get('firstname')?.errors?.required"
                  >
                    This field is required.
                  </small>
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="lastname" placeholder="Lastname"
                    autocomplete="lastname" required>
                </div>
                <div *ngIf="form.get('lastname')!.invalid && (form.get('lastname')!.dirty || form.get('lastname')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('lastname')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="username" placeholder="Username"
                    autocomplete="username" required>
                </div>
                <div *ngIf="form.get('username')!.invalid && (form.get('username')!.dirty || form.get('username')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('username')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="email" placeholder="Email"
                    autocomplete="email" required>
                </div>
                <div *ngIf="form.get('email')!.invalid && (form.get('email')!.dirty || form.get('email')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('email')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="password" placeholder="Password"
                    autocomplete="new-password" required>
                </div>
                <div *ngIf="form.get('password')!.invalid && (form.get('password')!.dirty || form.get('password')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('password')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <!-- <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-lock"></i></span>
                  </div>
                  <input type="password" class="form-control" formControlName="login" placeholder="Repeat password"
                    autocomplete="new-password" required>
                </div> -->
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone icons font "></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="phonenum" placeholder="Mobile Number"
                    autocomplete="phonenum" required>
                </div>
                <div *ngIf="form.get('phonenum')!.invalid && (form.get('phonenum')!.dirty || form.get('phonenum')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('phonenum')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-regular fa-address-card"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="addressline" placeholder="Address"
                    autocomplete="addressline" required>
                </div>
                <div *ngIf="form.get('addressline')!.invalid && (form.get('addressline')!.dirty || form.get('addressline')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('addressline')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>

                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input type="text" class="form-control" formControlName="city" placeholder="City" autocomplete="city"
                    required>
                </div>
                <div *ngIf="form.get('city')!.invalid && (form.get('city')!.dirty || form.get('city')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('city')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input type="text" class="form-control" formControlName="state" placeholder="State"
                    autocomplete="state" required>
                </div>
                <div *ngIf="form.get('state')!.invalid && (form.get('state')!.dirty || form.get('state')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('state')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input type="text" class="form-control" formControlName="country" placeholder="Country"
                    autocomplete="country" required>
                </div>
                <div *ngIf="form.get('country')!.invalid && (form.get('country')!.dirty || form.get('country')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('country')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"></span>
                  </div>
                  <input type="text" class="form-control" formControlName="pincode" placeholder="Pincode"
                    autocomplete="pincode" required>
                </div>
                <div *ngIf="form.get('pincode')!.invalid && (form.get('pincode')!.dirty || form.get('pincode')!.touched)">
                    <small
                      class="form-text text-danger"
                      *ngIf="form.get('pincode')?.errors?.required"
                    >
                      This field is required.
                    </small>
                  </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-check icons font"></i></span>
                  </div>
                  <select  class="form-control" formControlName="role" >
                    <option value="ROLE_DOCTOR">ROLE_DOCTOR</option>
                    <option value="ROLE_PATIENT">ROLE_PATIENT</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-block btn-success mt-3" [disabled]="!form.valid">Create Account</button>
                <div class="alert alert-warning" *ngIf="isSignUpFailed">
                    Registration failed! <br/> {{errorMessage}}
                </div>
              </form>
              <div class="alert alert-success" *ngIf="isSuccessful">Your registration is Successful!</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
