<div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
        
          <i class="bg-indigo theme-color mb-3 w-75 rounded mb-2 "></i><b> <em>My Schedule </em></b>
           </div>
        <!-- </div> -->
        <div class="card-body">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Days Available</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Monday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Tuesday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Wednesday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Thursday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                     Friday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                      Saturday
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Sunday
                    </label>
                  </div>
                  </td>
                <td>
                    <!-- <select class="form-control" style="width: auto" name="starttime">
                    <option value="9.00">9.00 </option>
                    <option value="10.00">10.00</option>
                   
                  </select> -->
        

<timepicker [(ngModel)]="time" [showMeridian]="false"></timepicker>
<pre class="alert alert-info">Time is: {{time}}</pre>
                 
                </td>
                <td><select class="form-control" style="width: auto" name="endtime">
                    <option value="15">15 days</option>
                    <option value="30">30 days</option>
                    <!-- <option [ngValue]="60">60 days</option> -->
                  </select></td>
                <td>
                  <span> <td>
                    <span><button type="Accept" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Add Schedule</button>
                      <button type="Cancel" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Cancel</button></span>
                  </td></span>
                </td>
              </tr>
              
              
            </tbody>
          </table>
          
        </div>
      </div>
    </div>
    
   